@use "../../../../styles/utils.scss" as theme;
.Lander {
  .Partner {
    flex-direction: row;
    align-items: center;
    $shared-margin: 60px;

    .partner-info {
      margin-right: $shared-margin;
    }

    .partner-display {
      margin-left: $shared-margin;
    }
  }
}
