@use "../../../../styles/utils.scss" as theme;

.AboutUs {
  .Team {
    max-height: initial;
    h2 {
      margin-bottom: 17px;
    }

    .memberArea {
      width: 85%;
      //width: 60em;
    }
    .members {
      display: flex;
      flex-wrap: wrap;
      padding-right: 100px;
      padding-left: 100px;
    }

    .pastMembers {
      columns: 2 auto;
    }
  }

  .pastMember {
    margin-right: 17px;
    display: flex;
    align-items: center;
    padding-bottom: 2%;
    padding-right: 2%;
    border-radius: 10%;
  }

  .allInfo {
    display: flex;
    flex-direction: row;
    text-align: left;
  }

  .SocialIcon {
    display: flex;
    justify-content: flex-end;
  }

  .pastInfo {
    display: flex;
    flex-direction: column;
    h3,
    p {
      margin: 2px;
    }
  }

  img {
    border-radius: 25px 25px 0 0;
  }

  .MemberCard {
    padding: 0;
    margin: 30px;
    background: white;
    width: min-content;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.212);
    transform-origin: top;
    transition: box-shadow 0.7s, transform 0.7s;
    border-radius: 25px;

    @include theme.viewport(small) {
      margin-left: auto;
      margin-right: auto;
    }

    &:hover {
      box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.212);
      transform: scale(1.05);
    }

    img {
      width: 180px;
      height: 180px;
      object-fit: cover;
      object-position: top center;
    }

    .info {
      display: flex;
      flex-direction: column;

      padding: 10px;
      h3,
      p {
        margin: 0%;
      }
    }
  }

  .PartnerCard {
    padding: 1%;
    margin: 30px;
    background: white;
    width: min-content;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.212);
    transform-origin: top;
    transition: box-shadow 0.7s, transform 0.7s;
    border-radius: 25px;

    @include theme.viewport(small) {
      margin-left: auto;
      margin-right: auto;
    }

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 180px;
      height: 180px;
      object-fit: cover;
      object-position: center;
    }

    .info {
      display: flex;
      flex-direction: column;

      padding: 10px;
      h3,
      p {
        margin: 0%;
      }
    }
  }
}
