@use "../../../../styles/utils.scss" as theme;

.AboutUs {
  .Team {
    max-height: initial;
    h2 {
      margin-bottom: 17px;
    }
    .members {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .MemberCard {
    padding: 0;
    margin: 30px;
    background: white;
    width: min-content;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.212);
    transform-origin: top;
    transition: box-shadow 0.7s, transform 0.7s;

    @include theme.viewport(small) {
      margin-left: auto;
      margin-right: auto;
    }

    &:hover {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.212);
      transform: scale(1.04);
    }

    img {
      width: 180px;
      height: 180px;
      object-fit: cover;
      object-position: top center;
    }

    .info {
      padding: 10px;
      h3,
      p {
        margin: 0;
      }
    }
  }
}
