@use "./styles/utils" as theme;

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  min-height: 100%;
  margin: 0;
  color: theme.color(text);
}

main {
  padding: 0 30px;
  background: white;
}

h1,
h2 {
  @include theme.font(title);
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;

  @include theme.viewport(medium) {
    font-size: 30px;
    line-height: 65px;
  }
}

h3,
h4 {
  @include theme.font(body);
  color: theme.color(lead-blue);
}

h4 {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}

p,
li {
  @include theme.font(body);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

button {
  @include theme.font(title);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: white;
  background-color: theme.color(flame);
  border: none;
  border-radius: 25px;
  padding: 15px 55px;
  cursor: pointer;
  transition: transform 0.1s, opacity 0.1s;

  &:active {
    transform: scale(0.98);
    opacity: 0.9;
  }
}

img {
  object-fit: contain;
  object-position: center;
}
