@use "../../../../styles/utils.scss" as theme;

section.Hero {
  display: grid;
  grid-template-rows: auto min-content;
  padding-left: 0;
  padding-right: 0;
  .hero-info {
    z-index: 1;
    align-self: center;
    justify-self: center;

    @include theme.viewport(small) {
      padding-left: 20px;
      padding-right: 20px;
    }

    .title {
      color: theme.color(lead-blue);
      display: flex;
      justify-content: center;

      em {
        color: theme.color(flame);
        font-style: normal;
      }
    }

    .company-desc {
      text-align: center;
    }

    .cta {
      display: flex;
      justify-content: center;
    }

    .editionButtons {
      display: flex;
      justify-content: center;
      justify-content: space-between;
    }
  }

  

  .perch-line {
    width: 90%;
    object-position: left;
    
    max-height: 90%;
    min-height: 280px;
    margin: auto
  }
}
