@use "../../../../styles/utils.scss" as theme;

section.Hero {
  display: grid;
  grid-template-rows: auto min-content;
  padding-left: 0;
  padding-right: 0;
  padding-top: 90px;
  .hero-info {
    min-width: 80%;
    z-index: 1;
    align-self: end;
    justify-self: center;

    @include theme.viewport(small) {
      padding-left: 20px;
      padding-right: 20px;
    }

    .title {
      color: theme.color(lead-blue);

      em {
        color: theme.color(flame);
        font-style: normal;
      }
    }
    p {
      max-width: 450px;
    }
  }

  .perch-line {
    width: 100%;
    object-position: left;
    object-fit: cover;
    min-height: 280px;
  }
}
