@use "../../../../styles/utils.scss" as theme;

section.Hero {
  display: grid;
  grid-template-rows: auto min-content;
  padding-left: 0;
  padding-right: 0;
  .hero-info {
    z-index: 1;
    align-self: center;
    justify-self: center;

    @include theme.viewport(small) {
      padding-left: 20px;
      padding-right: 20px;
    }

    .title {
      color: theme.color(lead-blue);
      display: flex;
      justify-content: center;

      em {
        color: theme.color(flame);
        font-style: normal;
      }
    }

    .company-desc {
      text-align: center;
    }

    .buttonText {
      text-align: center;
      color: #317ca8;
      font-weight: bold;
    }

    .editionBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #fafafa;
      padding-top: 1%;
      padding-left: 5%;
      padding-right: 5%;
      padding-bottom: 5%;
      border-radius: 25px;
    }

    .editionButtons {
      display: flex;
      justify-content: space-between;
    }
  }

  .perch-line {
    width: 100%;
    max-height: 70%;
    min-height: 280px;
    margin: auto;
  }

  .sponsorHeader {
    display: flex;
    justify-content: center;
    padding-top: 5%;
  }

  .partners {
    display: flex;
    flex-wrap: wrap;
    padding-right: 100px;
    padding-left: 100px;
    justify-content: center;
  }

  .PartnerCard {
    padding: 2%;
    margin: 30px;
    background: white;
    width: min-content;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.212);
    transform-origin: top;
    transition: box-shadow 0.7s, transform 0.7s;
    border-radius: 25px;

    @include theme.viewport(small) {
      margin-left: auto;
      margin-right: auto;
    }

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 180px;
      height: 180px;
      object-fit: cover;
      object-position: center;
    }

    .info {
      display: flex;
      flex-direction: column;

      padding: 10px;
      h3,
      p {
        margin: 0%;
      }
    }
  }
}
