@use "../../../../styles/utils.scss" as theme;
.Lander {
  .HowItWorks {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;

    h2 {
      text-align: center;
      margin-bottom: 55px;

      @include theme.viewport(medium) {
        margin-bottom: 30px;
      }
    }
    .step-list {
      display: flex;
      width: 670px;
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      position: relative;
      padding: 0;
      margin: 0 auto;
      list-style: none;

      @media screen and (min-width: 1370px) {
        width: 100%;
      }

      .ProcessStep {
        display: flex;
        margin: 20px;
        margin-top: 40px;
        width: 250px;
        text-align: center;

        em {
          @include theme.font(title);
          color: theme.color(flame);
          font-size: 54px;
          font-style: normal;
          font-weight: 600;
          margin-right: 20px;
          transform: translateY(10px);
        }
        p {
          text-align: left;
          line-height: 23px;
          margin: 0;
        }
      }
    }

    .graphic {
      width: 80%;
      max-width: 100%;
      margin: auto;
    }
  }
}
